@font-face {
  font-family: "NexaSlabBlod";
  src: url("../fonts/NexaSlabBoldFREE.woff2"); }
@font-face {
  font-family: "RadianExtraLight";
  src: url("../fonts/Radian ExtraLight.woff2"); }
@font-face {
  font-family: "AvenirArabic-Book";
  src: url("../fonts/AvenirArabic-Book.woff2"); }
@font-face {
  font-family: "AvenirArabic-Light";
  src: url("../fonts/AvenirArabic-Light.woff2"); }
@font-face {
  font-family: "OrganettoBoldRegular";
  src: url("../fonts/OrganettoBoldRegular.woff2"); }
@font-face {
  font-family: "AvenirNextCyr-Light";
  src: url("../fonts/AvenirNextCyr-Light.woff2"); }
@font-face {
  font-family: "NexaSlabBlod";
  src: url("../fonts/NexaSlabBoldFREE.woff2"); }
@font-face {
  font-family: "RadianExtraLight";
  src: url("../fonts/Radian ExtraLight.woff2"); }
@font-face {
  font-family: "AvenirArabic-Book";
  src: url("../fonts/AvenirArabic-Book.woff2"); }
@font-face {
  font-family: "AvenirArabic-Light";
  src: url("../fonts/AvenirArabic-Light.woff2"); }
@font-face {
  font-family: "OrganettoBoldRegular";
  src: url("../fonts/OrganettoBoldRegular.woff2"); }
@font-face {
  font-family: "AvenirNextCyr-Light";
  src: url("../fonts/AvenirNextCyr-Light.woff2"); }
.main-content {
  background-color: #ffffff; }

.block-views-blockhome-page-about-block-1 {
  padding-top: 105px;
  max-width: 1250px;
  margin: 0 auto;
  margin-bottom: 93px; }
  .block-views-blockhome-page-about-block-1 .node--view-mode-teaser .block-field-blocknodeaboutbody {
    margin-left: 20px; }
  .block-views-blockhome-page-about-block-1 .node--view-mode-teaser .layout__region--content {
    display: flex;
    border-top: 5px solid #373645;
    border-bottom: 5px solid #6e9bca; }
    .block-views-blockhome-page-about-block-1 .node--view-mode-teaser .layout__region--content .field--name-title {
      font-family: "OrganettoBoldRegular", serif;
      text-transform: uppercase;
      font-size: 30px;
      letter-spacing: -.01em;
      line-height: 60px; }
      @media screen and (max-width: 752px) {
        .block-views-blockhome-page-about-block-1 .node--view-mode-teaser .layout__region--content .field--name-title {
          font-size: 15px; } }
    .block-views-blockhome-page-about-block-1 .node--view-mode-teaser .layout__region--content .field--name-body {
      font-family: "AvenirArabic-Book", serif;
      text-transform: uppercase;
      color: #cccccc;
      font-size: 21px;
      line-height: 62px;
      letter-spacing: -.02em; }
      @media screen and (max-width: 752px) {
        .block-views-blockhome-page-about-block-1 .node--view-mode-teaser .layout__region--content .field--name-body {
          font-size: 15px;
          line-height: 30px; } }
    .block-views-blockhome-page-about-block-1 .node--view-mode-teaser .layout__region--content .field--name-field-read-more {
      background-color: #6e9bca;
      margin-left: 24px;
      margin-top: 16px;
      padding: 2px 9px 4px 9px;
      font-family: "AvenirArabic-Book",serif; }
      .block-views-blockhome-page-about-block-1 .node--view-mode-teaser .layout__region--content .field--name-field-read-more:hover {
        background-color: #31659e;
        cursor: pointer; }
      @media screen and (max-width: 752px) {
        .block-views-blockhome-page-about-block-1 .node--view-mode-teaser .layout__region--content .field--name-field-read-more {
          margin-top: 3px; } }
      .block-views-blockhome-page-about-block-1 .node--view-mode-teaser .layout__region--content .field--name-field-read-more a {
        font-family: "AvenirArabic-Book", serif;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -.02em; }

.block-views-blockcontent-services-block-1 {
  max-width: 1250px;
  margin: 0 auto; }
  .block-views-blockcontent-services-block-1 h2 {
    font-family: "OrganettoBoldRegular", serif;
    text-align: center;
    overflow: hidden;
    color: #373645;
    line-height: 39px;
    font-size: 29px; }
    .block-views-blockcontent-services-block-1 h2:before, .block-views-blockcontent-services-block-1 h2:after {
      content: '';
      display: inline-block;
      vertical-align: 10px;
      box-sizing: border-box;
      width: 100%;
      height: 1px;
      background: #cccccc;
      border: solid #FFF;
      border-width: 0 20px; }
    .block-views-blockcontent-services-block-1 h2:before {
      margin-left: -100%; }
    .block-views-blockcontent-services-block-1 h2:after {
      margin-right: -100%; }
  .block-views-blockcontent-services-block-1 .view-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-top: 90px; }
    .block-views-blockcontent-services-block-1 .view-content .views-row {
      margin-bottom: 15px; }
  .block-views-blockcontent-services-block-1 .node--view-mode-teaser .block-field-blocknodeservicefield-images .field--name-field-images {
    margin: 0 auto;
    text-align: center;
    height: 130px; }
  .block-views-blockcontent-services-block-1 .node--view-mode-teaser .block-field-blocknodeservicetitle {
    text-align: center;
    font-family: "AvenirArabic-Light", serif;
    text-transform: uppercase;
    font-size: 23px;
    margin-top: 20px;
    letter-spacing: -.06em; }
  .block-views-blockcontent-services-block-1 .node--view-mode-teaser .block-field-blocknodeservicebody {
    text-align: center;
    font-family: "AvenirArabic-Book", serif;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 7px;
    line-height: 15px;
    letter-spacing: -.02em;
    color: #cccccc; }
  .block-views-blockcontent-services-block-1 .node--view-mode-teaser .block-field-blocknodeservicefield-read-more {
    text-align: center;
    margin-top: 25px; }
    .block-views-blockcontent-services-block-1 .node--view-mode-teaser .block-field-blocknodeservicefield-read-more .field--name-field-read-more {
      display: inline-block;
      background-color: #6e9bca;
      padding: 5px 9px 4px 9px;
      margin: 0 auto; }
      .block-views-blockcontent-services-block-1 .node--view-mode-teaser .block-field-blocknodeservicefield-read-more .field--name-field-read-more:hover {
        background-color: #31659e;
        cursor: pointer; }
      .block-views-blockcontent-services-block-1 .node--view-mode-teaser .block-field-blocknodeservicefield-read-more .field--name-field-read-more a {
        font-family: "AvenirArabic-Book", serif;
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -.02em; }
  .block-views-blockcontent-services-block-1 .pager {
    display: none; }
  @media screen and (max-width: 1250px) {
    .block-views-blockcontent-services-block-1 > div .view-content-services .view-content {
      grid-template-columns: 1fr 1fr 1fr; }
      .block-views-blockcontent-services-block-1 > div .view-content-services .view-content .views-row article {
        width: 290px;
        margin: 0 auto; } }
  @media screen and (max-width: 970px) {
    .block-views-blockcontent-services-block-1 > div .view-content-services .view-content {
      grid-template-columns: 1fr 1fr; }
      .block-views-blockcontent-services-block-1 > div .view-content-services .view-content .views-row article {
        width: 290px;
        margin: 0 auto; } }
  @media screen and (max-width: 650px) {
    .block-views-blockcontent-services-block-1 > div .view-content-services .view-content {
      grid-template-columns: 1fr; }
      .block-views-blockcontent-services-block-1 > div .view-content-services .view-content .views-row article {
        width: 290px;
        margin: 0 auto; } }

.block-views-blockcontent-prohects-block-1 {
  padding-top: 89px; }
  .block-views-blockcontent-prohects-block-1 h2 {
    max-width: 1250px;
    margin: 0 auto;
    font-family: "AvenirNextCyr-Light", serif;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    color: #373645;
    line-height: 39px;
    font-size: 26px;
    letter-spacing: -.04em; }
    .block-views-blockcontent-prohects-block-1 h2:before, .block-views-blockcontent-prohects-block-1 h2:after {
      content: '';
      display: inline-block;
      vertical-align: 8px;
      box-sizing: border-box;
      width: 100%;
      height: 1px;
      background: #cccccc;
      border: solid #FFF;
      border-width: 0 7px; }
    .block-views-blockcontent-prohects-block-1 h2:before {
      margin-left: -100%; }
    .block-views-blockcontent-prohects-block-1 h2:after {
      margin-right: -100%; }
  .block-views-blockcontent-prohects-block-1 .view-content-prohects {
    margin-top: 15px;
    padding-top: 70px;
    padding-bottom: 155px;
    background: repeating-linear-gradient(-60deg, #cccccc 0, #cccccc 1px, transparent 1px, transparent 5px); }
  .block-views-blockcontent-prohects-block-1 .view-content {
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px; }
    .block-views-blockcontent-prohects-block-1 .view-content .views-row {
      margin-bottom: 15px; }
    .block-views-blockcontent-prohects-block-1 .view-content .node--project-teaser {
      background-color: #ffffff; }
      .block-views-blockcontent-prohects-block-1 .view-content .node--project-teaser .block-field-blocknodeprojecttitle {
        font-family: "AvenirArabic-Light", serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        margin-top: 26px;
        letter-spacing: -.02em; }
      .block-views-blockcontent-prohects-block-1 .view-content .node--project-teaser .block-field-blocknodeprojectfield-services-taxonomy .field--name-field-services-taxonomy {
        text-align: center; }
        .block-views-blockcontent-prohects-block-1 .view-content .node--project-teaser .block-field-blocknodeprojectfield-services-taxonomy .field--name-field-services-taxonomy a {
          font-size: 15.4px;
          letter-spacing: .01em;
          font-family: "AvenirArabic-Light", serif;
          pointer-events: none;
          cursor: default;
          text-transform: uppercase;
          text-decoration: none;
          color: #cccccc; }
        .block-views-blockcontent-prohects-block-1 .view-content .node--project-teaser .block-field-blocknodeprojectfield-services-taxonomy .field--name-field-services-taxonomy a[href="/taxonomy/term/1"] {
          color: #1bbc9b; }
        .block-views-blockcontent-prohects-block-1 .view-content .node--project-teaser .block-field-blocknodeprojectfield-services-taxonomy .field--name-field-services-taxonomy a[href="/taxonomy/term/3"] {
          color: #9b58b5; }
        .block-views-blockcontent-prohects-block-1 .view-content .node--project-teaser .block-field-blocknodeprojectfield-services-taxonomy .field--name-field-services-taxonomy a[href="/taxonomy/term/2"] {
          color: #e84c3d; }
        .block-views-blockcontent-prohects-block-1 .view-content .node--project-teaser .block-field-blocknodeprojectfield-services-taxonomy .field--name-field-services-taxonomy a[href="/taxonomy/term/4"] {
          color: #28ade0; }
      .block-views-blockcontent-prohects-block-1 .view-content .node--project-teaser .block-field-blocknodeprojectfield-read-more {
        margin-top: 16px;
        text-align: center;
        padding-bottom: 12px;
        border-bottom: 1px solid black; }
        .block-views-blockcontent-prohects-block-1 .view-content .node--project-teaser .block-field-blocknodeprojectfield-read-more .field--name-field-read-more {
          margin: 0 auto;
          display: inline-block;
          background-color: #373645;
          padding: 4px 11px 3px;
          margin-right: 3px; }
          .block-views-blockcontent-prohects-block-1 .view-content .node--project-teaser .block-field-blocknodeprojectfield-read-more .field--name-field-read-more:hover {
            background-color: #3f3f50;
            cursor: pointer; }
          .block-views-blockcontent-prohects-block-1 .view-content .node--project-teaser .block-field-blocknodeprojectfield-read-more .field--name-field-read-more a {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 15px;
            color: #ffffff;
            letter-spacing: -.08em;
            font-family: "AvenirArabic-Book", serif; }
  @media screen and (max-width: 1250px) {
    .block-views-blockcontent-prohects-block-1 > div .view-content-prohects .view-content {
      grid-template-columns: 1fr 1fr 1fr; }
      .block-views-blockcontent-prohects-block-1 > div .view-content-prohects .view-content .views-row article {
        width: 290px;
        margin: 0 auto; } }
  @media screen and (max-width: 970px) {
    .block-views-blockcontent-prohects-block-1 > div .view-content-prohects .view-content {
      grid-template-columns: 1fr 1fr; }
      .block-views-blockcontent-prohects-block-1 > div .view-content-prohects .view-content .views-row article {
        width: 290px;
        margin: 0 auto; } }
  @media screen and (max-width: 650px) {
    .block-views-blockcontent-prohects-block-1 > div .view-content-prohects .view-content {
      grid-template-columns: 1fr; }
      .block-views-blockcontent-prohects-block-1 > div .view-content-prohects .view-content .views-row article {
        width: 290px;
        margin: 0 auto; } }

.pager {
  margin-top: 32px; }
  .pager .pager__items .pager__item {
    text-align: center; }
    .pager .pager__items .pager__item a {
      line-height: 22px;
      text-decoration: none;
      color: #373645;
      font-size: 15px;
      font-family: "AvenirArabic-Book", serif; }
  .pager .pager__items .pager__item--previous a, .pager .pager__items .pager__item--first a, .pager .pager__items .pager__item--next a, .pager .pager__items .pager__item--last a {
    font-size: 20px; }
  .pager .pager__items .is-active {
    display: inline-block;
    background: #ccc;
    color: #000;
    text-align: center;
    border-radius: 50%;
    padding: 5px 0 8px 0;
    width: 30px;
    height: 1em; }

.block-views-blockcontent-our-team-block-1 {
  max-width: 1250px;
  margin: 0 auto;
  padding-top: 93px;
  padding-left: 10px;
  padding-right: 10px; }
  .block-views-blockcontent-our-team-block-1 h2 {
    font-family: "OrganettoBoldRegular", serif;
    text-align: center;
    overflow: hidden;
    color: #373645;
    line-height: 39px;
    font-size: 29px; }
    .block-views-blockcontent-our-team-block-1 h2:before, .block-views-blockcontent-our-team-block-1 h2:after {
      content: '';
      display: inline-block;
      vertical-align: 10px;
      box-sizing: border-box;
      width: 100%;
      height: 1px;
      background: #cccccc;
      border: solid #FFF;
      border-width: 0 20px; }
    .block-views-blockcontent-our-team-block-1 h2:before {
      margin-left: -100%; }
    .block-views-blockcontent-our-team-block-1 h2:after {
      margin-right: -100%; }
  .block-views-blockcontent-our-team-block-1 .view-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-top: 30px;
    padding-bottom: 20px; }
    .block-views-blockcontent-our-team-block-1 .view-content .block-field-blocknodeour-teamfield-name .field--name-field-name {
      font-family: "AvenirArabic-Light", serif;
      text-transform: uppercase;
      text-align: center;
      font-size: 25px;
      margin-top: 32px;
      letter-spacing: -.02em;
      line-height: 30px; }
    .block-views-blockcontent-our-team-block-1 .view-content .block-field-blocknodeour-teamfield-position .field--name-field-position {
      text-align: center;
      font-family: "AvenirArabic-Book", serif;
      text-transform: uppercase;
      font-size: 12px;
      margin-top: 2px;
      letter-spacing: -.02em;
      color: #cccccc;
      line-height: 10px; }
    .block-views-blockcontent-our-team-block-1 .view-content .block-field-blocknodeour-teamfield-read-more {
      margin-top: 18px;
      text-align: center;
      padding-bottom: 12px; }
      .block-views-blockcontent-our-team-block-1 .view-content .block-field-blocknodeour-teamfield-read-more .field--name-field-read-more {
        margin: 0 auto;
        display: inline-block;
        background-color: #373645;
        padding: 4px 9px; }
        .block-views-blockcontent-our-team-block-1 .view-content .block-field-blocknodeour-teamfield-read-more .field--name-field-read-more:hover {
          background-color: #3f3f50;
          cursor: pointer; }
        .block-views-blockcontent-our-team-block-1 .view-content .block-field-blocknodeour-teamfield-read-more .field--name-field-read-more a {
          font-family: "AvenirArabic-Book",serif;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 15px;
          color: #ffffff;
          letter-spacing: -.05em; }
    .block-views-blockcontent-our-team-block-1 .view-content .block-field-blocknodeour-teamfield-social-links {
      float: left; }
    .block-views-blockcontent-our-team-block-1 .view-content .social-media-links--platforms {
      display: flex;
      margin-top: 6px;
      margin-left: 40px; }
      .block-views-blockcontent-our-team-block-1 .view-content .social-media-links--platforms li {
        width: 18px;
        height: 22px;
        font-size: 8px;
        text-align: center;
        margin: 0 5px;
        background-color: #6e9bca; }
        .block-views-blockcontent-our-team-block-1 .view-content .social-media-links--platforms li:nth-child(2), .block-views-blockcontent-our-team-block-1 .view-content .social-media-links--platforms li:nth-child(1) {
          font-size: 10px; }
        .block-views-blockcontent-our-team-block-1 .view-content .social-media-links--platforms li:nth-child(3) {
          width: 20px; }
        .block-views-blockcontent-our-team-block-1 .view-content .social-media-links--platforms li a {
          color: #ffffff; }
          .block-views-blockcontent-our-team-block-1 .view-content .social-media-links--platforms li a span {
            line-height: 25px; }
        .block-views-blockcontent-our-team-block-1 .view-content .social-media-links--platforms li:hover {
          cursor: pointer; }
  .block-views-blockcontent-our-team-block-1 .pager {
    display: none; }
  @media screen and (max-width: 1250px) {
    .block-views-blockcontent-our-team-block-1 > div .view-content-our-team .view-content {
      grid-template-columns: 1fr 1fr 1fr; }
      .block-views-blockcontent-our-team-block-1 > div .view-content-our-team .view-content .views-row article {
        width: 290px;
        margin: 0 auto; } }
  @media screen and (max-width: 970px) {
    .block-views-blockcontent-our-team-block-1 > div .view-content-our-team .view-content {
      grid-template-columns: 1fr 1fr; }
      .block-views-blockcontent-our-team-block-1 > div .view-content-our-team .view-content .views-row article {
        width: 290px;
        margin: 0 auto; } }
  @media screen and (max-width: 650px) {
    .block-views-blockcontent-our-team-block-1 > div .view-content-our-team .view-content {
      grid-template-columns: 1fr; }
      .block-views-blockcontent-our-team-block-1 > div .view-content-our-team .view-content .views-row article {
        width: 290px;
        margin: 0 auto; } }

.block-views-blocksearch-news-block-1 {
  padding-top: 167px; }
  .block-views-blocksearch-news-block-1 h2 {
    max-width: 1250px;
    margin: 0 auto;
    font-family: "OrganettoBoldRegular", serif;
    text-align: center;
    overflow: hidden;
    color: #373645;
    line-height: 39px;
    font-size: 29px; }
    .block-views-blocksearch-news-block-1 h2:before, .block-views-blocksearch-news-block-1 h2:after {
      content: '';
      display: inline-block;
      vertical-align: 10px;
      box-sizing: border-box;
      width: 100%;
      height: 1px;
      background: #cccccc;
      border: solid #FFF;
      border-width: 0 20px; }
    .block-views-blocksearch-news-block-1 h2:before {
      margin-left: -100%; }
    .block-views-blocksearch-news-block-1 h2:after {
      margin-right: -100%; }
  .block-views-blocksearch-news-block-1 > div {
    background: repeating-linear-gradient(-60deg, #cccccc 0, #cccccc 1px, transparent 1px, transparent 5px);
    padding-top: 12px;
    padding-bottom: 72px;
    margin-top: 20px; }
  .block-views-blocksearch-news-block-1 .view-search-news {
    max-width: 1250px;
    padding: 0 10px;
    margin: 0 auto;
    background: none;
    margin-top: 0; }
  .block-views-blocksearch-news-block-1 .form--inline {
    width: 405px;
    display: flex;
    padding: 6px;
    padding-bottom: 4px;
    background-color: #f5f5f5; }
    .block-views-blocksearch-news-block-1 .form--inline .form-item-search-api-fulltext input {
      padding-left: 10px; }
    .block-views-blocksearch-news-block-1 .form--inline .form-type-textfield {
      margin: 0; }
    .block-views-blocksearch-news-block-1 .form--inline .form-actions {
      margin: 0; }
      .block-views-blocksearch-news-block-1 .form--inline .form-actions input {
        padding: 6px 13px;
        background-color: #28ade0;
        color: #ffffff;
        border: none;
        border-radius: 3px;
        font-size: 15px;
        font-family: "AvenirArabic-Book",serif; }
  .block-views-blocksearch-news-block-1 .form-type-textfield {
    position: relative;
    display: flex; }
    .block-views-blocksearch-news-block-1 .form-type-textfield label {
      display: none;
      position: absolute;
      z-index: 1;
      pointer-events: none;
      left: 10px;
      top: 8px;
      transition: 1.2s ease all;
      font-size: 16px;
      color: #cccccc; }
    .block-views-blocksearch-news-block-1 .form-type-textfield input {
      border-radius: 3px;
      height: 30px;
      width: 329px;
      margin-right: 5px;
      padding: 1px;
      font-size: 16px;
      border: 1px solid #cccccc; }
    .block-views-blocksearch-news-block-1 .form-type-textfield input:focus {
      z-index: 5; }
  .block-views-blocksearch-news-block-1 .view-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    padding-top: 10px; }
    .block-views-blocksearch-news-block-1 .view-content .views-row {
      display: grid;
      background-color: #ffffff;
      grid-template-columns: 89px 100px min-content auto auto;
      grid-template-rows: 30px 34px 15px auto auto;
      padding-top: 22px;
      padding-bottom: 22px; }
      .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-rendered-item {
        display: none; }
      .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-revision-timestamp {
        font-size: 26px;
        text-transform: uppercase;
        line-height: 20px;
        text-align: center;
        color: #373645;
        font-family: "AvenirArabic-Light",serif;
        grid-column-start: 1;
        grid-column-end: 1; }
      .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-revision-timestamp-1 {
        grid-column-start: 1;
        grid-column-end: 1;
        font-size: 48px;
        text-transform: uppercase;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
        color: #6e9bca;
        font-family: "AvenirArabic-Light",serif; }
      .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-revision-timestamp-2 {
        font-size: 15px;
        text-transform: uppercase;
        line-height: 20px;
        color: #cccccc;
        text-align: center;
        font-family: "AvenirArabic-Light",serif;
        grid-column-start: 1;
        grid-column-end: 1; }
      .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-field-imagea {
        border-left: 1px solid #cccccc;
        padding-left: 20px;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4; }
      .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-field-name-author {
        grid-column: 3/3;
        grid-row: 1/1;
        font-family: "AvenirArabic-Light",serif;
        font-size: 12px;
        color: #373645;
        line-height: 11px;
        text-transform: uppercase;
        padding-left: 10px; }
        @media screen and (max-width: 500px) {
          .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-field-name-author {
            grid-column: 5/5;
            grid-row: 2/2;
            padding-right: 15px; } }
        .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-field-name-author span {
          color: #373645;
          padding: 0 1px 0 2px;
          white-space: nowrap; }
        .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-field-name-author:before {
          content: "writer";
          font-family: "AvenirArabic-Light",serif;
          color: #cccccc; }
        .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-field-name-author:after {
          content: "/";
          font-family: "AvenirArabic-Light",serif;
          color: #373645; }
      .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-field-topic {
        grid-column: 4/4;
        grid-row: 1/1;
        font-family: "AvenirArabic-Light",serif;
        font-size: 12px;
        color: #6e9bca;
        line-height: 11px;
        text-transform: uppercase;
        margin-left: 2px; }
        @media screen and (max-width: 500px) {
          .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-field-topic {
            grid-column: 5/5;
            grid-row: 3/3;
            text-align: end;
            padding-right: 15px; } }
      .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-revision-timestamp-3 {
        grid-column: 5/5;
        grid-row: 1/1;
        font-family: "AvenirArabic-Light",serif;
        font-size: 12px;
        line-height: 11px;
        text-transform: uppercase;
        color: #cccccc;
        padding-right: 17px;
        text-align: right; }
      .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-title {
        grid-column-start: 2;
        grid-column-end: 6;
        margin-top: 16px;
        padding-left: 19px;
        font-family: "AvenirArabic-Light", serif;
        font-size: 25px;
        line-height: 27px;
        text-transform: uppercase;
        letter-spacing: -.02em;
        border-left: 1px solid #cccccc; }
      .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-body {
        grid-column-start: 2;
        grid-column-end: 6;
        padding-top: 15px;
        padding-left: 19px;
        padding-right: 17px;
        font-family: "AvenirArabic-Light", serif;
        font-size: 12px;
        line-height: 11px;
        text-transform: uppercase;
        letter-spacing: -.02em;
        text-align: justify;
        border-left: 1px solid #cccccc; }
        .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-body .node__links {
          text-align: right;
          margin-top: 25px;
          margin-bottom: 8px; }
          .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-body .node__links ul li {
            padding: 5px 8.5px 4px;
            font-size: 14px;
            margin-right: 4px;
            background-color: #373645; }
            .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-body .node__links ul li:hover {
              background-color: #3f3f50;
              cursor: pointer; }
            .block-views-blocksearch-news-block-1 .view-content .views-row .views-field-body .node__links ul li a {
              text-decoration: none;
              color: #ffffff;
              font-family: "AvenirArabic-Light", serif; }
  .block-views-blocksearch-news-block-1 .pager {
    display: none; }
  @media screen and (max-width: 1100px) {
    .block-views-blocksearch-news-block-1 .view-search-news .view-content {
      grid-template-columns: 1fr; }
      .block-views-blocksearch-news-block-1 .view-search-news .view-content .views-row {
        max-width: 610px;
        margin: 0 auto;
        margin-bottom: 20px; } }

.block-views-blockclients-slider-block-1 {
  max-width: 1250px;
  margin: 0 auto; }
  .block-views-blockclients-slider-block-1 h2 {
    margin-top: 27px;
    font-family: "OrganettoBoldRegular", serif;
    text-align: center;
    overflow: hidden;
    color: #373645;
    line-height: 39px;
    font-size: 29px;
    padding-left: 9px; }
    .block-views-blockclients-slider-block-1 h2:before, .block-views-blockclients-slider-block-1 h2:after {
      content: '';
      display: inline-block;
      vertical-align: 10px;
      box-sizing: border-box;
      width: 100%;
      height: 1px;
      background: #cccccc;
      border: solid #FFF;
      border-width: 0 20px; }
    .block-views-blockclients-slider-block-1 h2:before {
      margin-left: -100%; }
    .block-views-blockclients-slider-block-1 h2:after {
      margin-right: -100%; }
  .block-views-blockclients-slider-block-1 .view-content {
    padding-top: 40px;
    padding-bottom: 154px; }
    .block-views-blockclients-slider-block-1 .view-content .views-row {
      height: auto;
      margin-right: 30px; }
      .block-views-blockclients-slider-block-1 .view-content .views-row .contextual-region {
        margin: auto; }
      .block-views-blockclients-slider-block-1 .view-content .views-row img {
        width: 130px;
        height: auto; }
      .block-views-blockclients-slider-block-1 .view-content .views-row:last-child {
        margin-right: 0; }

/*# sourceMappingURL=contentTeasers.css.map */
