@font-face {
  font-family: "NexaSlabBlod";
  src: url("../fonts/NexaSlabBoldFREE.woff2"); }
@font-face {
  font-family: "RadianExtraLight";
  src: url("../fonts/Radian ExtraLight.woff2"); }
@font-face {
  font-family: "AvenirArabic-Book";
  src: url("../fonts/AvenirArabic-Book.woff2"); }
@font-face {
  font-family: "AvenirArabic-Light";
  src: url("../fonts/AvenirArabic-Light.woff2"); }
@font-face {
  font-family: "NexaSlabBlod";
  src: url("../fonts/NexaSlabBoldFREE.woff2"); }
@font-face {
  font-family: "RadianExtraLight";
  src: url("../fonts/Radian ExtraLight.woff2"); }
@font-face {
  font-family: "AvenirArabic-Book";
  src: url("../fonts/AvenirArabic-Book.woff2"); }
@font-face {
  font-family: "AvenirArabic-Light";
  src: url("../fonts/AvenirArabic-Light.woff2"); }
.region-header {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

.region-header {
  padding-top: 37px;
  width: 1193px;
  margin: 0 auto;
  display: flex; }
  .region-header .contextual-region {
    height: 110px; }
  .region-header #block-headerbackground {
    position: static; }
    .region-header #block-headerbackground img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      z-index: -1; }
  .region-header #block-quarantie {
    text-align: center;
    width: 230px;
    height: 76px;
    padding: 34px 0 0 0;
    background-color: #373645; }
    .region-header #block-quarantie .field--name-field-main-name {
      font-family: "NexaSlabBlod", serif;
      font-size: 30px;
      color: #6e9bca;
      line-height: 24px; }
    .region-header #block-quarantie .field--name-field-subname {
      font-family: "RadianExtraLight", serif;
      font-size: 17px;
      color: #cccccc; }
  .region-header #block-home {
    background-color: #ffffff;
    padding: 0 29px; }
    .region-header #block-home .field--name-field-image {
      margin-top: 42px; }
      .region-header #block-home .field--name-field-image img {
        width: 27px;
        height: 27px; }
  .region-header #block-mainmenu {
    background-color: #ffffff; }
    .region-header #block-mainmenu .menu {
      margin: 0;
      display: flex; }
      .region-header #block-mainmenu .menu .menu-item {
        margin-top: 43px;
        margin-right: 23px; }
        .region-header #block-mainmenu .menu .menu-item a {
          font-family: "AvenirArabic-Light", serif;
          text-transform: uppercase;
          text-decoration: none;
          font-weight: normal;
          font-size: 13px;
          color: #373645; }
  .region-header #block-companylinks {
    background-color: #ffffff;
    padding: 0 11px; }
    .region-header #block-companylinks .social-media-links--platforms {
      display: flex;
      margin-top: 42px; }
      .region-header #block-companylinks .social-media-links--platforms li {
        width: 25px;
        height: 25px;
        font-size: 8px;
        text-align: center;
        margin: 0 5px;
        background-color: #6e9bca; }
        .region-header #block-companylinks .social-media-links--platforms li:nth-child(2), .region-header #block-companylinks .social-media-links--platforms li:nth-child(1) {
          font-size: 10px; }
        .region-header #block-companylinks .social-media-links--platforms li a {
          color: #ffffff; }
          .region-header #block-companylinks .social-media-links--platforms li a span {
            line-height: 25px; }
  .region-header .search-block-form {
    background-color: #ffffff;
    padding-left: 7px;
    padding-right: 27px; }
    .region-header .search-block-form form {
      display: flex;
      align-items: center;
      margin-top: 35px; }
      .region-header .search-block-form form .form-type-search {
        margin: 0; }
        .region-header .search-block-form form .form-type-search input {
          border: 1px solid #cccccc;
          background-color: white;
          width: 158px;
          height: 33px;
          border-radius: 0; }
      .region-header .search-block-form form .form-wrapper {
        display: block; }
        .region-header .search-block-form form .form-wrapper input {
          border: 1px solid #cccccc;
          background-color: #ffffff;
          border-radius: 0;
          font-size: 0;
          width: 37px;
          height: 37px; }

/*# sourceMappingURL=header.css.map */
