@font-face {
  font-family: "NexaSlabBlod";
  src: url("../fonts/NexaSlabBoldFREE.woff2"); }
@font-face {
  font-family: "RadianExtraLight";
  src: url("../fonts/Radian ExtraLight.woff2"); }
@font-face {
  font-family: "AvenirArabic-Book";
  src: url("../fonts/AvenirArabic-Book.woff2"); }
@font-face {
  font-family: "AvenirArabic-Light";
  src: url("../fonts/AvenirArabic-Light.woff2"); }
@font-face {
  font-family: "OrganettoBoldRegular";
  src: url("../fonts/OrganettoBoldRegular.woff2"); }
@font-face {
  font-family: "AvenirNextCyr-Light";
  src: url("../fonts/AvenirNextCyr-Light.woff2"); }
@font-face {
  font-family: "NexaSlabBlod";
  src: url("../fonts/NexaSlabBoldFREE.woff2"); }
@font-face {
  font-family: "RadianExtraLight";
  src: url("../fonts/Radian ExtraLight.woff2"); }
@font-face {
  font-family: "AvenirArabic-Book";
  src: url("../fonts/AvenirArabic-Book.woff2"); }
@font-face {
  font-family: "AvenirArabic-Light";
  src: url("../fonts/AvenirArabic-Light.woff2"); }
header[role=banner] {
  position: relative;
  overflow: hidden; }

.region-header {
  width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

.region-header {
  padding-top: 40px;
  width: 1250px;
  margin: 0 auto;
  display: flex; }
  .region-header .contextual-region {
    height: 115px; }
  .region-header #block-headerbackground {
    position: static; }
    .region-header #block-headerbackground img {
      position: absolute;
      top: 0;
      left: 0;
      width: auto;
      height: 700px;
      z-index: -1; }
  .region-header #block-quarantie {
    text-align: center;
    width: 240px;
    height: 80px;
    padding: 34px 0 0 0;
    background-color: #373645; }
    .region-header #block-quarantie .field--name-field-main-name {
      font-family: "NexaSlabBlod", serif;
      font-size: 31px;
      color: #6e9bca;
      line-height: 29px; }
    .region-header #block-quarantie .field--name-field-subname {
      font-family: "RadianExtraLight", serif;
      font-size: 18px;
      color: #cccccc;
      line-height: 16px;
      letter-spacing: -.01em; }
  .region-header #block-home {
    background-color: #ffffff;
    padding: 0 29px; }
    .region-header #block-home .field--name-field-image {
      margin-top: 42px; }
      .region-header #block-home .field--name-field-image img {
        width: 28px;
        height: 28px; }
  .region-header #block-mainmenu {
    background-color: #ffffff; }
    .region-header #block-mainmenu .menu {
      margin: 0;
      display: flex;
      margin-left: 3px; }
      .region-header #block-mainmenu .menu .menu-item {
        margin-top: 46px;
        margin-right: 23px; }
        .region-header #block-mainmenu .menu .menu-item a {
          font-family: "AvenirArabic-Light", serif;
          text-transform: uppercase;
          text-decoration: none;
          font-weight: normal;
          font-size: 14px;
          color: #373645; }
  .region-header #block-companylinks {
    background-color: #ffffff;
    padding: 0 11px; }
    .region-header #block-companylinks .social-media-links--platforms {
      display: flex;
      margin-top: 45px; }
      .region-header #block-companylinks .social-media-links--platforms li {
        width: 25px;
        height: 25px;
        font-size: 8px;
        text-align: center;
        margin: 0 5.5px;
        background-color: #6e9bca; }
        .region-header #block-companylinks .social-media-links--platforms li:nth-child(2), .region-header #block-companylinks .social-media-links--platforms li:nth-child(1) {
          font-size: 10px; }
        .region-header #block-companylinks .social-media-links--platforms li a {
          color: #ffffff; }
          .region-header #block-companylinks .social-media-links--platforms li a span {
            line-height: 25px; }
  .region-header .search-block-form {
    background-color: #ffffff;
    padding-left: 9px;
    padding-right: 28px; }
    .region-header .search-block-form form {
      display: flex;
      align-items: center;
      margin-top: 37px; }
      .region-header .search-block-form form .form-type-search {
        margin: 0; }
        .region-header .search-block-form form .form-type-search input {
          border: 1px solid #cccccc;
          background-color: white;
          width: 166px;
          height: 35px;
          border-radius: 0; }
      .region-header .search-block-form form .form-wrapper {
        display: block; }
        .region-header .search-block-form form .form-wrapper input {
          border: 1px solid #cccccc;
          background-color: #ffffff;
          border-radius: 0;
          font-size: 0;
          width: 39px;
          height: 39px; }
  .region-header #block-headerbottom {
    margin: 155px 0 275px 119px;
    width: 350px; }
    .region-header #block-headerbottom .field--name-field-top-text {
      font-family: "AvenirArabic-Book", serif;
      text-transform: uppercase;
      color: #ffffff;
      line-height: 38px;
      font-size: 68px;
      letter-spacing: -.02em; }
    .region-header #block-headerbottom .field--name-field-middle-text {
      font-family: "AvenirArabic-Book", serif;
      text-transform: uppercase;
      color: #373645;
      font-size: 41px;
      line-height: 25px;
      margin-top: 18px;
      letter-spacing: -.012em; }
    .region-header #block-headerbottom .field--name-field-bottomtext {
      font-family: "AvenirArabic-Book", serif;
      text-transform: uppercase;
      color: #6e9bca;
      letter-spacing: -.05em;
      margin-top: 11px;
      font-size: 15px;
      line-height: 15px;
      margin-left: 2px; }

.region-highlighted {
  display: none; }

/*# sourceMappingURL=header.css.map */
