@import "variables";
@import "fonts";
@font-face {
  font-family: "NexaSlabBlod";
  src: url("../fonts/NexaSlabBoldFREE.woff2");
}
@font-face {
  font-family: "RadianExtraLight";
  src: url("../fonts/Radian ExtraLight.woff2");
}
@font-face {
  font-family: "AvenirArabic-Book";
  src: url("../fonts/AvenirArabic-Book.woff2");
}
@font-face {
  font-family: "AvenirArabic-Light";
  src: url("../fonts/AvenirArabic-Light.woff2");
}
@font-face {
  font-family: "OrganettoBoldRegular";
  src: url("../fonts/OrganettoBoldRegular.woff2");
}
@font-face {
  font-family: "AvenirNextCyr-Light";
  src: url("../fonts/AvenirNextCyr-Light.woff2");
}
.main-content{
  background-color: $white;
}
.block-views-blockhome-page-about-block-1{
  padding-top: 105px;
  width: 1250px;
  margin: 0 auto;
  margin-bottom: 93px;
  .node--view-mode{
  &-teaser{
    .block-field-blocknodeaboutbody{
      margin-left: 20px;
    }
    .layout__region--content{
      display: flex;
      border-top: 5px solid $black;
      border-bottom: 5px solid $blue;
      .field--name-title{
       font-family: "OrganettoBoldRegular", serif;
        text-transform: uppercase;
        font-size: 30px;
        letter-spacing: -.01em;
        line-height: 60px;
      }
      .field--name-body{
        font-family: "AvenirArabic-Book", serif;
        text-transform: uppercase;
        color: $grey;
        font-size: 21px;
        line-height: 62px;
        letter-spacing: -.02em;
      }
      .field--name-field-read-more{
        background-color: $blue;
        &:hover{
          background-color: $hover-blue;
          cursor: pointer;
        }
        margin-left: 24px;
        margin-top: 16px;
        padding: 2px 9px 4px 9px;
        font-family: "AvenirArabic-Book",serif;
        a{
          font-family: "AvenirArabic-Book", serif;
          color: $white;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 20px;
          letter-spacing: -.02em;
        }
      }
    }
  }
  }
}
.block-views-blockcontent-services-block-1{
  max-width: 1250px;
  margin: 0 auto;
  h2{
    font-family: "OrganettoBoldRegular", serif;
    text-align: center;
    overflow: hidden;
    color: $black;
    line-height: 39px;
    font-size: 29px;
    &:before, &:after{
      content: '';
      display: inline-block;
      vertical-align: 10px;
      box-sizing: border-box;
      width: 100%;
      height: 1px;
      background: $grey;
      border: solid #FFF;
      border-width: 0 20px;
    }
    &:before{
      margin-left: -100%;
    }
    &:after{
      margin-right: -100%;
    }
  }
  .view-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-top: 90px;
  }
  .node--view-mode{
    &-teaser{
      .block-field-blocknodeservicefield-images{
        .field--name-field-images{
          margin: 0 auto;
          text-align: center;
          height: 130px;
        }
      }
      .block-field-blocknodeservicetitle{
        text-align: center;
        font-family: "AvenirArabic-Light", serif;
        text-transform: uppercase;
        font-size: 23px;
        margin-top: 20px;
        letter-spacing: -.06em;
      }
      .block-field-blocknodeservicebody{
        text-align: center;
        font-family: "AvenirArabic-Book", serif;
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 7px;
        line-height: 15px;
        letter-spacing: -.02em;
        color: $grey;
      }
      .block-field-blocknodeservicefield-read-more{
        text-align: center;
        margin-top: 25px;
        .field--name-field-read-more{
          display: inline-block;
          background-color: $blue;
          &:hover{
            background-color: $hover-blue;
            cursor: pointer;
          }
          padding: 5px 9px 4px 9px;
          margin: 0 auto;
          a{
            font-family: "AvenirArabic-Book", serif;
            color: $white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 20px;
            letter-spacing: -.02em;
          }
        }
      }
    }
  }
  .pager{
    display: none;
  }
}
.block-views-blockcontent-prohects-block-1{
  padding-top: 104px;
  h2{
    max-width: 1250px;
    margin: 0 auto;
    font-family: "AvenirNextCyr-Light", serif;
    text-transform: uppercase;
    text-align: center;
    overflow: hidden;
    color: $black;
    line-height: 39px;
    font-size: 26px;
    letter-spacing: -.04em;
    padding-left: 17px;
    &:before, &:after{
      content: '';
      display: inline-block;
      vertical-align: 8px;
      box-sizing: border-box;
      width: 100%;
      height: 1px;
      background: $grey;
      border: solid #FFF;
      border-width: 0 7px;
    }
    &:before{
      margin-left: -100%;
    }
    &:after{
      margin-right: -100%;
    }
  }
  .view-content-prohects{
    margin-top: 15px;
    padding-top: 70px;
    padding-bottom: 155px;
    background: repeating-linear-gradient(-60deg, $grey 0, $grey 1px, transparent 1px, transparent 5px);
  }
  .view-content{
    max-width: 1250px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    .node--project-teaser{
      background-color: $white;
      .block-field-blocknodeprojecttitle{
        font-family: "AvenirArabic-Light", serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        margin-top: 26px;
        letter-spacing: -.02em;
      }
      .block-field-blocknodeprojectfield-services-taxonomy{
        .field--name-field-services-taxonomy{
          text-align: center;
          a{
            font-size: 15.4px;
            letter-spacing: .01em;
            font-family: "AvenirArabic-Light", serif;
            pointer-events: none;
            cursor: default;
            text-transform: uppercase;
            text-decoration: none;
            color: $grey;
          }
          a[href="/taxonomy/term/1"]{
            color: $green;
          }
          a[href="/taxonomy/term/3"]{
            color: $purple;
          }
          a[href="/taxonomy/term/2"]{
            color: $orange;
          }
          a[href="/taxonomy/term/4"]{
            color: $light-blue;
          }
        }
      }
      .block-field-blocknodeprojectfield-read-more{
        margin-top: 16px;
        text-align: center;
        padding-bottom: 12px;
        border-bottom: 1px solid black;
        .field--name-field-read-more{
          margin: 0 auto;
          display: inline-block;
          background-color: $black;
          &:hover{
            background-color: $hover-black;
            cursor: pointer;
          }
          padding: 4px 11px 3px;
          margin-right: 3px;
          a{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 15px;
            color: $white;
            letter-spacing: -.08em;
            font-family: "AvenirArabic-Book", serif;
          }
        }
      }
    }
  }
}
.pager{
  margin-top: 47px;
  .pager__items{
    .pager__item{
      text-align: center;
      a{
        line-height: 22px;
        text-decoration: none;
        color: $black;
        font-size: 15px;
        font-family: "AvenirArabic-Book", serif;
      }
    }
    .pager__item--previous, .pager__item--first, .pager__item--next, .pager__item--last{
      a{
        font-size: 20px;
      }
    }
    .is-active{
      display: inline-block;
      background: #ccc;
      color: #000;
      text-align: center;
      border-radius: 50%;
      padding: 5px 0 8px 0;
      width:30px;
      height:1em;
    }
  }
}
.block-views-blockcontent-our-team-block-1{
  width: 1250px;
  margin: 0 auto;
  padding-top: 93px;
  h2{
    font-family: "OrganettoBoldRegular", serif;
    text-align: center;
    overflow: hidden;
    color: $black;
    line-height: 39px;
    font-size: 29px;
    &:before, &:after{
      content: '';
      display: inline-block;
      vertical-align: 10px;
      box-sizing: border-box;
      width: 100%;
      height: 1px;
      background: $grey;
      border: solid #FFF;
      border-width: 0 20px;
    }
    &:before{
      margin-left: -100%;
    }
    &:after{
      margin-right: -100%;
    }
  }
  .view-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 30px;
    margin-top: 30px;
    .block-field-blocknodeour-teamfield-name{
      .field--name-field-name{
        font-family: "AvenirArabic-Light", serif;
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        margin-top: 32px;
        letter-spacing: -.02em;
        line-height: 30px;
      }
    }
    .block-field-blocknodeour-teamfield-position{
      .field--name-field-position{
        text-align: center;
        font-family: "AvenirArabic-Book", serif;
        text-transform: uppercase;
        font-size: 12px;
        margin-top: 2px;
        letter-spacing: -.02em;
        color: $grey;
        line-height: 10px;
      }
    }
    .block-field-blocknodeour-teamfield-read-more{
      margin-top: 18px;
      text-align: center;
      padding-bottom: 12px;
      .field--name-field-read-more{
        margin: 0 auto;
        display: inline-block;
        background-color: $black;
        padding: 4px 9px;
        &:hover{
          background-color: $hover-black;
          cursor: pointer;
        }
        a{
          font-family: "AvenirArabic-Book",serif;
          text-decoration: none;
          text-transform: uppercase;
          font-size: 15px;
          color: $white;
          letter-spacing: -.05em;
        }
      }
    }
    .social-media-links--platforms{
      display: flex;
      margin-top: 13px;
      margin-left: 40px;
      li{
        &:nth-child(2),&:nth-child(1){
          font-size: 10px;
        }
        &:nth-child(3){
          width: 20px;
        }
        width: 18px;
        height: 22px;
        font-size: 8px;
        text-align: center;
        margin: 0 5px;
        a{
          color: $white;
          span{
            line-height: 25px;
          }
        }
        background-color: $blue;
        &:hover{
          cursor: pointer;
        }
      }
    }
    padding-bottom: 20px;
  }
  .pager{
    display: none;
  }
}
.block-views-blocksearch-news-block-1{
  padding-top: 167px;;
  h2{
    width: 1250px;
    margin: 0 auto;
    font-family: "OrganettoBoldRegular", serif;
    text-align: center;
    overflow: hidden;
    color: $black;
    line-height: 39px;
    font-size: 29px;
    &:before, &:after{
      content: '';
      display: inline-block;
      vertical-align: 10px;
      box-sizing: border-box;
      width: 100%;
      height: 1px;
      background: $grey;
      border: solid #FFF;
      border-width: 0 20px;
    }
    &:before{
      margin-left: -100%;
    }
    &:after{
      margin-right: -100%;
    }
  }
  .contextual-region{
    background: repeating-linear-gradient(-60deg, $grey 0, $grey 1px, transparent 1px, transparent 5px);
    padding-top: 17px;
    padding-bottom: 36px;
  }
    .view-search-news{
      width: 1250px;
      margin: 0 auto;
      background: none;
      margin-top: 0;
    }
  .form--inline{
    width: 405px;
    display: flex;
    padding: 6px;
    padding-bottom: 4px;
    background-color: $light-grey;
    .form-type-textfield{
      margin: 0;
    }
    .form-actions{
      margin: 0;
      input{
        padding: 6px 13px;
        background-color: $light-blue;
        color: $white;
        border: none;
        border-radius: 3px;
        font-size: 15px;
        font-family: "AvenirArabic-Book",serif;
      }
    }
  }
  .form-type-textfield{
    position: relative;
    display: flex;
    label{
      position: absolute;
      z-index: 1;
      pointer-events: none;
      left: 10px;
      top: 8px;
      transition: 1.2s ease all;
      font-size: 16px;
      color: $grey;
    }
    input{
      border-radius: 3px;
      height: 30px;
      width: 329px;
      margin-right: 5px;
      padding: 1px;
      font-size: 16px;
      border: 1px solid $grey;
    }
    input:focus{
      z-index: 5;
    }
  }
  .view-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
    padding-top: 10px;
    .views-row{
      display: grid;
      background-color: $white;
      grid-template-columns:89px 100px min-content auto auto;
      grid-template-rows: 30px 34px 15px auto auto;
      padding-top: 22px;
      padding-bottom: 22px;
      .views-field-rendered-item{
        display: none;
      }
      .views-field-revision-timestamp{
        font-size: 26px;
        text-transform: uppercase;
        line-height: 20px;
        text-align: center;
        color: $black;
        font-family: "AvenirArabic-Light",serif;
        grid-column-start: 1;
        grid-column-end: 1;
      }
      .views-field-revision-timestamp-1{
        grid-column-start: 1;
        grid-column-end: 1;
        font-size: 48px;
        text-transform: uppercase;
        line-height: 30px;
        text-align: center;
        font-weight: bold;
        color: $blue;
        font-family: "AvenirArabic-Light",serif;
      }
      .views-field-revision-timestamp-2{
        font-size: 15px;
        text-transform: uppercase;
        line-height: 20px;
        color: $grey;
        text-align: center;
        font-family: "AvenirArabic-Light",serif;
        grid-column-start: 1;
        grid-column-end: 1;
      }
      .views-field-field-imagea{
        border-left: 1px solid $grey;
        padding-left: 20px;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 4;
      }
      .views-field-field-name-author{
        grid-column: 3/3;
        grid-row: 1/1;
        font-family: "AvenirArabic-Light",serif;
        font-size: 12px;
        color: $black;
        line-height: 11px;
        text-transform: uppercase;
        padding-left: 10px;
        span{
          color: $black;
          padding: 0 1px 0 2px;
          white-space: nowrap;
        }
        &:before{
          content: "writer";
          font-family: "AvenirArabic-Light",serif;
          color: $grey;
        }
        &:after{
          content: "/";
          font-family: "AvenirArabic-Light",serif;
          color: $black;
        }
      }
      .views-field-field-topic{
        grid-column: 4/4;
        grid-row: 1/1;
        font-family: "AvenirArabic-Light",serif;
        font-size: 12px;
        color: $blue;
        line-height: 11px;
        text-transform: uppercase;
        margin-left: 2px;
      }
      .views-field-revision-timestamp-3{
        grid-column: 5/5;
        grid-row: 1/1;
        font-family: "AvenirArabic-Light",serif;
        font-size: 12px;
        line-height: 11px;
        text-transform: uppercase;
        color: $grey;
        padding-right: 17px;
        text-align: right;
      }
      .views-field-title{
        grid-column-start: 2;
        grid-column-end: 6;
        margin-top: 16px;
        padding-left: 19px;
        font-family: "AvenirArabic-Light", serif;
        font-size: 25px;
        line-height: 27px;
        text-transform: uppercase;
        letter-spacing: -.02em;
        border-left: 1px solid $grey;
      }
      .views-field-body{
        grid-column-start: 2;
        grid-column-end: 6;
        padding-top: 15px;
        padding-left: 19px;
        padding-right: 17px;
        font-family: "AvenirArabic-Light", serif;
        font-size: 12px;
        line-height: 11px;
        text-transform: uppercase;
        letter-spacing: -.02em;
        text-align: justify;
        border-left: 1px solid $grey;
        .node__links{
          text-align: right;
          margin-top: 25px;
          margin-bottom: 8px;
          ul{
            li{
              padding: 5px 8.5px 4px;
              font-size: 14px;
              margin-right: 4px;
              background-color: $black;
              &:hover{
                background-color: $hover-black;
                cursor: pointer;
              }
              a{
                text-decoration: none;
                color: $white;
                font-family: "AvenirArabic-Light", serif;
              }
            }
          }
        }
      }

    }
  }
  .pager{
    display: none;
  }
}
.block-views-blockcontent-clients-block-1{
  width: 1250px;
  margin: 0 auto;
  h2{
    margin-top: 27px;
    font-family: "OrganettoBoldRegular", serif;
    text-align: center;
    overflow: hidden;
    color: $black;
    line-height: 39px;
    font-size: 29px;
    padding-left: 9px;
    &:before, &:after{
      content: '';
      display: inline-block;
      vertical-align: 10px;
      box-sizing: border-box;
      width: 100%;
      height: 1px;
      background: $grey;
      border: solid #FFF;
      border-width: 0 20px;
    }
    &:before{
      margin-left: -100%;
    }
    &:after{
      margin-right: -100%;
    }
  }
  .view-content{
    display: flex;
    padding-top: 40px;
    padding-bottom: 152px;
    .views-row{
      display: flex;
      height: auto;
      .contextual-region{
        margin: auto;

      }
      img{
        width: 130px;
        height: auto;
      }
      margin-right: 30px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}

