@import "variables";
@import "fonts";

.node--project-full {
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 40px;

  .block-field-blocknodeprojecttitle {
    font-family: "AvenirArabic-Light", serif;
    font-weight: bold;
    font-size: 20px;
  }

  .block-field-blocknodeprojectfield-imagee {
    float: right;
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .block-field-blocknodeprojectbody {
    font-family: "AvenirArabic-Light", serif;
    font-size: 20px;
    line-height: 25px;

    p {
      margin-bottom: 15px;
    }
  }

  .block-field-blocknodeprojectfield-services-taxonomy {
    margin-top: 20px;

    .field--name-field-services-taxonomy {
      a {
        font-size: 15.4px;
        letter-spacing: .01em;
        font-family: "AvenirArabic-Light", serif;
        pointer-events: none;
        cursor: default;
        text-transform: uppercase;
        text-decoration: none;
        color: $grey;
      }

      a[href="/taxonomy/term/1"] {
        color: $green;
      }

      a[href="/taxonomy/term/3"] {
        color: $purple;
      }

      a[href="/taxonomy/term/2"] {
        color: $orange;
      }

      a[href="/taxonomy/term/4"] {
        color: $light-blue;
      }
    }
  }
}

.node--service-full{
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 40px;
  .block-field-blocknodeservicetitle{
    font-family: "AvenirArabic-Light", serif;
    font-weight: bold;
    font-size: 20px;
  }
  .block-field-blocknodeservicefield-images{
    float: right;
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .block-field-blocknodeservicebody{
    font-family: "AvenirArabic-Light", serif;
    font-size: 20px;
    line-height: 25px;
    p{
      margin-bottom: 15px;
    }
  }
}
.node--our-team-full{
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 40px;
  .block-field-blocknodeour-teamfield-name{
    font-family: "AvenirArabic-Light", serif;
    font-weight: bold;
    font-size: 20px;
    color: $black;
  }
  .block-field-blocknodeour-teamfield-position{
    font-family: "AvenirArabic-Light", serif;
    font-weight: bold;
    font-size: 20px;
    color: $grey;
  }
  .block-field-blocknodeour-teamfield-imaget{
    float: right;
    padding-left: 30px;
    padding-bottom: 30px;
  }
  .block-field-blocknodeour-teambody{
    font-family: "AvenirArabic-Light", serif;
    font-size: 20px;
    line-height: 25px;
    p{
      margin-bottom: 15px;
    }
  }
  .block-field-blocknodeour-teamfield-social-links{
    .social-media-links--platforms{
      display: flex;
      margin-top: 13px;
      margin-left: 40px;
      li{
        &:nth-child(2),&:nth-child(1){
          font-size: 10px;
        }
        &:nth-child(3){
          width: 20px;
        }
        width: 22px;
        height: 22px;
        font-size: 8px;
        text-align: center;
        margin: 0 5px;
        background-color: $blue;
        a{
          color: $white;
          span{
            line-height: 25px;
          }
        }
      }
    }
  }
}

.node--news-full{
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  .block-field-blocknodenewsfield-name-author{
    text-align: right;
    font-family: "AvenirArabic-Light", serif;
    font-weight: bold;
    font-size: 18px;
    color: $black;
  }
  .block-field-blocknodenewsfield-imagea{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  .block-field-blocknodenewstitle{
    font-family: "AvenirArabic-Light", serif;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  .block-field-blocknodenewsbody{
    font-family: "AvenirArabic-Light", serif;
    color: $black;
    font-size: 18px;
    line-height: 25px;
    p{
      margin-bottom: 10px;
    }
  }
  .block-field-blocknodenewsfield-topic{
    font-family: "AvenirArabic-Light", serif;
    color: $grey;
    font-size: 18px;
  }
}

