@import "variables";
@import "fonts";
@font-face {
  font-family: "NexaSlabBlod";
  src: url("../fonts/NexaSlabBoldFREE.woff2");
}
@font-face {
  font-family: "RadianExtraLight";
  src: url("../fonts/Radian ExtraLight.woff2");
}
@font-face {
  font-family: "AvenirArabic-Book";
  src: url("../fonts/AvenirArabic-Book.woff2");
}
@font-face {
  font-family: "AvenirArabic-Light";
  src: url("../fonts/AvenirArabic-Light.woff2");
}
header[role=banner]{
  position: relative;
  padding: 0 20px;
}
.region-header{
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.region-header{
  padding-top: 40px;
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .contextual-region{
    height: 115px;
  }
  #block-headerbackground{
    position: static;
      img{
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        height: auto;
        z-index: -1;
        @media screen and (max-width: 1000px) {
          object-fit: cover;
          height: 700px;
        }
      }
  }
  #block-quarantie{
    text-align: center;
    width: 240px;
    height: 80px;
    padding: 34px 0 0 0;
    background-color: $black;
    order: 1;
    box-shadow: 0 3px 15px -5px #373645;
    @media screen and (max-width: 384px) {
      width: 100%;
    }
    .field--name-field-main-name{
      font-family: "NexaSlabBlod", serif;
      font-size: 31px;
      color: $blue;
      line-height: 29px;
    }
    .field--name-field-subname{
      font-family: "RadianExtraLight", serif;
      font-size: 18px;
      color: $grey;
      line-height: 13px;
      letter-spacing: -.01em;
    }
  }
  .responsive-menus.responsified.responsive-toggled.absolute{
    position: static;
    .responsive-menus-simple {
      left: 0;
    }
    }
  .responsive-menus{
    flex-grow: 2;
    order: 2;
    background-color: $white;
    @media screen and (max-width: 1160px) {
      order: 4;
      width: 100%;
    }
    @media screen and (max-width: 768px) {
      order: 2;
      width: 30%;
      .toggler{
        width: 40px;
        margin-left: auto;
        padding: 10px !important;
        background-color: $black !important;
      }
    }
    @media screen and (max-width: 384px) {
      order: 3;
      .toggler{
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        box-shadow: none !important;
      }
    }
  }
  #block-mainmenu{
    background-color: $white;
    flex-grow: 2;
    box-shadow: 0 8px 8px -3px $black;
    .menu{
      margin: 0;
      display: flex;
      margin-left: 3px;
      justify-content: space-around;
      .menu-item--active-trail{
        position: relative;
        border-bottom: 8px solid $blue;
      }
      .menu-item{
        margin-top: 42px;
        font-family: "AvenirArabic-Light",serif;
        padding-bottom: 35px;
        height: 28px;
        .contextual-region{
          height: 28px;
        }
        a{
          font-family: "AvenirArabic-Light", serif;
          text-transform: uppercase;
          text-decoration: none;
          font-weight: normal;
          font-size: 14px;
          color: $black;

        }
        &:first-child{
          margin-top: 39px;
          padding-bottom: 37px;
          & > a{
            display: none;
          }
        }
      }
    }
  }
  #block-companylinks{
    background-color: $white;
    padding: 0 11px;
    order: 3;
    box-shadow: 0 8px 8px -3px $black;
    @media screen and (max-width: 1160px) {
      order: 2;
      flex-grow: 3;
    }
    @media screen and (max-width: 768px) {
    order: 3;
      width: 40%;
  }
    @media screen and (max-width: 384px) {
      order: 2;
      .social-media-links--platforms{
        margin-top: 20px !important;
      }
    }
    .social-media-links--platforms{
      display: flex;
      margin-top: 43px;
      justify-content: center;
      li{
        &:nth-child(2),&:nth-child(1){
          font-size: 10px;
        }
        width: 25px;
        height: 25px;
        font-size: 8px;
        text-align: center;
        margin: 0 5.5px;
        a{
          color: $white;
          span{
            line-height: 25px;
          }
        }
        background-color: $blue;
      }
    }
  }
  .search-block-form{
    order: 4;
    box-shadow: 0 8px 8px -3px $black;
    @media screen and (max-width: 1160px) {
      order: 3;
    }
    @media screen and (max-width: 768px) {
      order: 4;
      width: 40%;
    }
    background-color: $white;
    padding-left: 9px;
    padding-right: 28px;
    form{
      display: flex;
      align-items: center;
      margin-top: 36px;
      .form-type-search{
        margin: 0;
        input{
          border: 1px solid $grey;
          background-color: white;
          width: 166px;
          height: 35px;
          border-radius: 0;
        }
      }
      .form-wrapper{
        display: block;
        position: relative;
        input{
          border: 1px solid $grey;
          background-color: $white;
          background-image: url("../image/icons8-magnifier-24.png");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 22px 22px;
          border-radius: 0;
          font-size: 0;
          width: 39px;
          height: 39px;
          border-left: none;
        }
      }
    }
  }
  #block-headerbottom{
    margin: 155px 0 275px 119px;
    width: 350px;
    order: 5;
    @media screen and (max-width: 560px){
      margin: 50px auto 20px auto;
    }
    .field--name-field{
      &-top-text{
        font-family: "AvenirArabic-Book", serif;
        text-transform: uppercase;
        color: $white;
        line-height: 38px;
        font-size: 68px;
        letter-spacing: -.02em;
      }
      &-middle-text{
        font-family: "AvenirArabic-Book", serif;
        text-transform: uppercase;
        color: $black;
        font-size: 41px;
        line-height: 25px;
        margin-top: 18px;
        letter-spacing: -.012em;
      }
      &-bottomtext{
        font-family: "AvenirArabic-Book", serif;
        text-transform: uppercase;
        color: $blue;
        letter-spacing: -.05em;
        margin-top: 11px;
        font-size: 15px;
        line-height: 15px;
        margin-left: 2px;
      }
    }
  }
}
.region-highlighted{
  display: none;
}
