@import "variables";
@import "fonts";

article[about="/node/55"] {
  .block-views-blocksearch-news-block-1 {
    padding-top: 50px;
    padding-bottom: 50px;

    .contextual-region {
      background: none;
    }

    @media screen and (max-width: 1100px) {
      .view-search-news {
        .view-content {
          grid-template-columns: 1fr;

          .views-row {
            max-width: 610px;
            margin: 0 auto;
            margin-bottom: 20px;
          }
        }
      }

    }
  }
}