@import "variables";
@import "fonts";

article[about="/node/39"]{
  .block-views-blockcontent-prohects-block-1{
    padding: 50px 20px 40px 20px;
    h2{
      font-family: "OrganettoBoldRegular", serif;
    }
    .view-content-prohects{
      background: none;
      padding-top: 30px;
      padding-bottom: 50px;
      .view-content{
        grid-row-gap: 10px;
        .views-row{
          .block-field-blocknodeprojectfield-read-more{
            border-bottom: none;
          }
        }
      }
    }
  }
}
