@import "variables";
@import "fonts";

article[about="/node/53"]{
  .block-views-blockcontent-our-team-block-1{
    padding-top: 50px;
    padding-bottom: 50px;
    @media screen and (max-width: 1160px) {
      & > div{
        .view-content-our-team{
          .view-content{
            grid-template-columns: 1fr 1fr 1fr;
            .views-row{
              article{
                width: 290px;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 970px) {
      & > div{
        .view-content-our-team{
          .view-content{
            grid-template-columns: 1fr 1fr;
            .views-row{
              article{
                width: 290px;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 650px) {
      & > div{
        .view-content-our-team{
          .view-content{
            grid-template-columns: 1fr;
            .views-row{
              article{
                width: 290px;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }
}
.field--name-field-like{
  & > div:last-child{
    display: none;
  }
}
.ajax-progress {
  display: none;
}
.like_dislike {
  margin-left: 72px;
  margin-top: 5px;
  margin-bottom: 3px;
  .like {
    border: none;
    float: none;
    width: auto;
    a{
      width: 16px;
      height: 16px;
      padding-left: 0;
      background: url("../image/free-icon-heart-2589197.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      &:active{
        background: url("../image/free-icon-heart-2589054.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &:after,&:before{
        display: none;
      }
    }
    span{
      padding-right: 0;
      float: none;
      line-height: 10px;
      padding-left: 5px;
      font-size: 10px;
      &:after,&:before{
        display: none;
      }
    }

  }
}
