@import "variables";
@import "fonts";

article[about="/node/53"]{
  .block-views-blockcontent-our-team-block-1{
    padding-top: 50px;
    padding-bottom: 50px;
    @media screen and (max-width: 1160px) {
      & > div{
        .view-content-our-team{
          .view-content{
            grid-template-columns: 1fr 1fr 1fr;
            .views-row{
              article{
                width: 290px;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 970px) {
      & > div{
        .view-content-our-team{
          .view-content{
            grid-template-columns: 1fr 1fr;
            .views-row{
              article{
                width: 290px;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: 650px) {
      & > div{
        .view-content-our-team{
          .view-content{
            grid-template-columns: 1fr;
            .views-row{
              article{
                width: 290px;
                margin: 0 auto;
              }
            }
          }
        }
      }
    }
  }
}
